data/images/ 
data/frames/ 
data/zipped/
tests/samples/ 
output/

# my
temporary/ 
ignore/
notes
goals
TODO
cbits/main
.projectile

# Haskell
ghcid.txt
cabal.project.local
dist-newstyle/
dist/
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
report.html
.stack-work/

# nix
result
result/

# Emacs
\#*
*~
.#*
\#*\#
*.log
TAGS

# OS X
.DS_Store

